

* {
  color: floralwhite;
  font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
  font-weight: 100;
  text-decoration: none;
}

body {
  display: block;
  height: 200vh;
  background-color: dimgray;
}

.container {
  display: block;
  text-align: center;
  margin: 25% 0; 
}

h2 {
  text-align: center;
  font-size: 6rem;
  margin-top: 0%;
  margin-bottom: 0%;
}

a {
  max-width: 50%;
  text-align: center;
  margin: 0% auto 0% auto;
  animation: blurCity linear both;
  animation-timeline: view();
}

p {
  font-size: 2rem;
}

hr {
  width: 75%;
  margin-top: auto;
}

footer {
  text-align: center;
  margin-top: auto;
  margin-bottom: 3%;
  font-size: 0.75rem;
}

@keyframes blurCity{
  0% {
    filter: blur(15px);
    opacity: 0;
  }
  45%, 55% {
    filter: blur(0px);
    opacity: 1;
  }
  100% {
    filter: blur(15px);
    opacity: 0;
  }
}