html {
  height: 100%;
  width: 100%;
}

* {
  font-family: "DM Sans", sans-serif;
  font-weight: 100;
  font-style: normal;
  color: white;
  text-decoration: none;
}

body {
  display: grid;
  place-items: center;
  background-image: url(NASA.jpg);
  background-size: cover;
  background-attachment: fixed;
  z-index: 1;
  margin: 15% 0;
}

.title {
  z-index: 2;
  border: 2px solid white;
  opacity: 50%;
  padding: 0% 10%;
}

.heading1 {
  font-size: 8rem;
  text-shadow: gray 2px 5px 10px;
}

.about {
  z-index: 2;
  display: flex;
  margin: 10% 0;
  width: 100%;
}

.text {
  width: 50%;
  text-align: center;
  font-size: 1rem;
  opacity: 0.75;
}

.heading2 {
  font-size: 6rem;
  animation: fadeCity linear both;
  animation-timeline: view();
}

footer {
  margin: 20% 0% 2.5% 0%;
}

@keyframes fadeCity{
  0% {
    opacity: 0;
  }
  45%, 55% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}